body{
	background-color: #D2E6E1;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden; /*ensures no scroll bars if info outside container*/
}

#main-header{
	background-color: #FAC89B;
	color: #fff;
}

#navbar{
	background-color: #323732;
	color: #fff;
}

#navbar ul{
	padding: 0px;
	list-style: none;

}

#navbar li{
	display: inline;
}

#navbar a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

#showcase{
	background-image: url('../img/BG-img.jpg');
	background-size: 100%;
	background-position: center right;
	min-height: 200px; /*will let background image grow and be responsive*/
	margin-bottom: 30px;
	text-align: center;
}

#showcase h1{
	color: #fff;
	font-size: 30px;
	line-height: 1.4em;
	padding-top: 15px;
}



#main{
	float: left;
	width: 100%;
	padding:0 10px;
	box-sizing: border-box;
	overflow: auto;
}

#sidebar{
	float: right;
	width: 30%;
	height: 100%;
	background-color: #82AF96;
	color: #fff;
	padding:10px;
	margin-top: 25px;
	box-sizing: border-box;
	border-radius: 20px;
	right: 5px;
}

#main-footer{
	background-color:  #323732;
	position: fixed;
	color: #fff;
	text-align: center;
	width: 100%;
	bottom: 0px;
	padding: 20px;
	margin-top: 150px;
	clear: both;

}

.button{
	background-color: #333;
	color: #fff;
	margin-left: 80px;
}



.block{
	float:left;
	width:33.3%;
	line-height: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}
.block.book {
	min-height: 400px;
}
.block.book h3 {
	min-height: 100px;
}



.block h3{
	font-size: 16px;
	font-style: bold;
}

.clr{
	clear: both;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea{
	
	margin-left: 5%;
	
}

@media(max-width: 600px){
	#main{
		width: 100%;
		float: none;
	}

	#sidebar{
		width: 100%;
		float: none;
	}
}

.container-checkout .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.container-checkout .col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.container-checkout .col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.container-checkout .col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.container-checkout .col-25,
.container-checkout .col-50,
.container-checkout .col-75 {
  padding: 0 16px;
}

.container-checkout {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.container-checkout input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.container-checkout label {
  margin-bottom: 10px;
  display: block;
}

.container-checkout .icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.container-checkout .btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.container-checkout .btn:hover {
  background-color: #45a049;
}

.container-checkout span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
.container-checkout @media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}